@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail/Yellowtail-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 1220px;
}

.container-content {
    width: 1200px;
    margin: 0 auto;
}

.nav-main {
    display: flex;
    margin: 20px 0;
    align-items: center;

    .nav-main-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-grow: 1;
        margin-left: 100px;
    }
}

.nav-main-item {
    a {
        display: block;
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.36px;
        color: #274C5B;
        padding: 20px;
        text-transform: capitalize;
    }
}

.nav-main-item-active {
    a {
        color: #7EB693;
    }
}

.cart-item {
    margin-left: auto;

    a {
        display: flex;
        align-items: center;
        border-radius: 33px;
        border: 1px solid #D4D4D4;
        display: inline-flex;
        padding: 6px 11px;
    }
}

.cart-icon {
    background-color: #274C5B;
    display: block;
    height: 24px;
    width: 24px;
    background-image: url("../images/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px 15px;
    border-radius: 100px;
    margin: 0;
    margin-right: 10px;
}

.cart-badge {
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: #274C5B;
    color: white;
    padding: 0 10px;
}

.greetings {
    display: flex;
    align-items: center;


    background-image: url("../images/first.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-color: #F2F0F1;

    h2 {
        font-family: 'Yellowtail';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #7EB693;
        margin: 0;
        margin-top: 220px;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 84px;
        letter-spacing: 0.36px;
        color: #274C5B;
        margin: 0;
        margin-top: 15px;
    }

    a {
        display: inline-flex;
        background-color: #EFD372;
        border-radius: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #274C5B;
        padding: 25px 30px;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 250px;

        &>span {
            display: block;
            width: 38px;
            height: 34px;
            background-color: #335B6B;
            background-image: url("../images/arrow-right.svg");
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            margin-left: 20px;
        }
    }
}


.card-list {
    display: flex;
    column-gap: 50px;
    margin: 140px 0;

}

.card-item {
    background: #D4D4D4;
    border-radius: 30px;
    flex-grow: 1;
    padding: 105px 55px;
    display: flex;
    flex-direction: column;
    flex-basis: 665px;
}

.card-fruits {
    background: url("../images/fruits.jpg") no-repeat;

    h2 {
        font-family: 'Yellowtail';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        letter-spacing: 0.36px;
        color: #FFFFFF;
        margin: 0;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.36px;
        color: #FFFFFF;
        margin: 0;
        text-transform: capitalize;
    }
}

.card-vegetables {
    background: url("../images/vegetables.jpg") no-repeat;

    h2 {
        font-family: 'Yellowtail';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        letter-spacing: 0.36px;
        color: #7EB693;
        margin: 0;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.36px;
        color: #274C5B;
        margin: 0;
    }
}

.about-us-block {
    background-color: #F9F8F8;
}

.container-about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;


    img {
        display: block;
        width: 100%;
    }
}

.about-us-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        font-family: 'Yellowtail';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #7EB693;
        margin: 0;
        margin-top: 130px;
    }

    h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #274C5B;
        margin: 0;
    }

    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.36px;
        color: #525C60;
        margin: 0;
    }

    a {
        display: inline-flex;
        background-color: #274C5B;
        border-radius: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: white;
        padding: 25px 30px;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 150px;

        &>span {
            display: block;
            width: 38px;
            height: 34px;
            background-color: #335B6B;
            background-image: url("../images/arrow-right.svg");
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            margin-left: 20px;
        }
    }

    dl {
        margin-top: 50px;
        padding-left: 120px;

        dt {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 0.36px;
            color: #274C5B;
            position: relative;
            margin-bottom: 10px;
            text-transform: capitalize;

            &>span {
                display: inline-block;
                height: 100px;
                width: 100px;
                border-radius: 20px;
                position: absolute;
                background-color: white;
                left: -120px;
            }
        }

        dd {
            margin: 0;
            margin-bottom: 20px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.36px;
            color: #525C60;
        }

        .organic-ico {
            background: url("../images/organic.svg") no-repeat center;
            background-color: white;
        }

        .quality-ico {
            background: url("../images/quality.svg") no-repeat center;
            background-color: white;
        }
    }
}

.products-block {
    margin-top: 120px;
    margin-bottom: 100px;

    &>h2 {
        font-family: 'Yellowtail';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #7EB693;
    }

    &>h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #274C5B;
    }
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: #F9F8F8;
    border-radius: 30px;
    padding: 30px;
    min-height: 450px;

    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.36px;
        color: #274C5B;
        text-transform: capitalize;
        margin: 0;
        margin-bottom: 10px;
        margin-top: auto;
    }

    h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.36px;
        color: #FFFFFF;
        padding: 5px 20px;
        background: #274C5B;
        border-radius: 8px;
        order: -2;
        margin: 0;
    }

    img {
        order: -1;
        width: 100%;
        margin-top: 5px;
    }

    .price {
        display: flex;
        align-items: center;
        border-top: 2px solid #D4D4D4;
        align-self: stretch;
        justify-self: flex-end;
        padding-top: 10px;
        margin: 0;

        .price-old {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 32px;
            letter-spacing: 0.36px;
            text-decoration-line: line-through;
            color: #B8B8B8;
        }

        .price-new {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0.36px;
            color: #274C5B;
            margin-left: 10px;
        }

        .rating {
            margin-left: auto;

            img {
                display: block;
                width: 100%;
                height: 20px;
            }
        }
    }
}

.customer-feedback {
    background-image: url("../images/customer-left.png"), url("../images/customer-right.png");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-color: #FCFCFC;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 150px;
}

.customer-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: 'Yellowtail';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #7EB693;
        margin: 0;
    }

    h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #274C5B;
        margin: 0;
        margin-bottom: 60px;
    }
}

.customer-avatar {
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 100px;
}

.customer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
}

.customer-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
    margin-bottom: 0;
}

.customer-rank {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
    margin-top: 0;
}

.customer-rating {
    width: 115px;
    margin-top: 20px;
    margin-bottom: 40px;

    img {
        width: 100%;
    }
}

.customer-splitter {
    height: 2px;
    width: 970px;
    background: #E0E0E0;
    border-radius: 0px;
    margin: 100px 0;
}

.customer-awards {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.customer-award-card {
    background: #F1F1F1;
    border: 6px solid #7EB693;
    border-radius: 200px;
    width: 250px;
    height: 250px;

    .customer-award-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 240px;
        border: 5px solid #FFFFFF;
        border-radius: 200px;

        h2 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.36px;
            color: #274C5B;
            margin: 0;
        }

        p {
            order: -1;
            margin: 0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 55px;
            text-align: center;
            letter-spacing: 0.36px;
            color: #274C5B;
        }
    }
}

.offer-block {
    background-color: #274C5B;

    .offer-block-container {
        padding-bottom: 140px;
        padding-top: 140px;
    }
}

.offer-header {
    display: flex;
    justify-content: space-between;

    .offer-header-title {
        h2 {
            font-family: 'Yellowtail';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 65px;
            letter-spacing: 0.36px;
            text-transform: capitalize;
            color: #7EB693;
            margin: 0;
        }

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 58px;
            letter-spacing: 0.36px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin: 0;
        }
    }

    a {
        display: inline-flex;
        background-color: #EFD372;
        border-radius: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #274C5B;
        padding: 25px 30px;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 40px;

        &>span {
            display: block;
            width: 38px;
            height: 34px;
            background-color: #335B6B;
            background-image: url("../images/arrow-right.svg");
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            margin-left: 20px;
        }
    }
}






.eco-friendly-block {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .eco-friendly-image {
        background-image: url("../images/plants.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .eco-friendly-info-block {
        display: flex;
        align-items: center;

        .eco-friendly-info {
            position: relative;
            left: -60px;
            background-color: white;
            padding: 40px 60px;
            margin: 40px 0;
            border-radius: 30px 0px 0px 30px;

            h2 {
                font-family: 'Yellowtail';
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 65px;
                letter-spacing: 0.36px;
                text-transform: capitalize;
                color: #7EB693;
                margin: 0;
            }

            h3 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 58px;
                letter-spacing: 0.36px;
                text-transform: capitalize;
                color: #274C5B;
                margin: 0;
                margin-bottom: 15px;
            }

            h4 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
                line-height: 32px;
                letter-spacing: 0.36px;
                text-transform: capitalize;
                color: #274C5B;
                margin: 0;
                margin-top: 15px;
            }

            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.36px;
                color: #525C60;
                margin: 0;
            }
        }
    }
}

