@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf?fc2b5060f7accec5cf74437196c1b027) format("truetype");
}
@font-face {
  font-family: "Yellowtail";
  src: url(/fonts/Yellowtail-Regular.ttf?68015177cbf9575be4a4bd10b136822b) format("truetype");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-width: 1220px;
}

.container-content {
  width: 1200px;
  margin: 0 auto;
}

.nav-main {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.nav-main .nav-main-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  margin-left: 100px;
}

.nav-main-item a {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274C5B;
  padding: 20px;
  text-transform: capitalize;
}

.nav-main-item-active a {
  color: #7EB693;
}

.cart-item {
  margin-left: auto;
}
.cart-item a {
  display: flex;
  align-items: center;
  border-radius: 33px;
  border: 1px solid #D4D4D4;
  display: inline-flex;
  padding: 6px 11px;
}

.cart-icon {
  background-color: #274C5B;
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(/images/cart.svg?4829b40310e7c24b32f94018af812e67);
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 15px;
  border-radius: 100px;
  margin: 0;
  margin-right: 10px;
}

.cart-badge {
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 100px;
  background-color: #274C5B;
  color: white;
  padding: 0 10px;
}

.greetings {
  display: flex;
  align-items: center;
  background-image: url(/images/first.jpg?a12998d5d08b5d256f7b15172c86d386);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: #F2F0F1;
}
.greetings h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  margin: 0;
  margin-top: 220px;
}
.greetings p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin: 0;
  margin-top: 15px;
}
.greetings a {
  display: inline-flex;
  background-color: #EFD372;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  padding: 25px 30px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 250px;
}
.greetings a > span {
  display: block;
  width: 38px;
  height: 34px;
  background-color: #335B6B;
  background-image: url(/images/arrow-right.svg?119138b35c138a00e0a5b80f2815457c);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 20px;
}

.card-list {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 140px 0;
}

.card-item {
  background: #D4D4D4;
  border-radius: 30px;
  flex-grow: 1;
  padding: 105px 55px;
  display: flex;
  flex-direction: column;
  flex-basis: 665px;
}

.card-fruits {
  background: url(/images/fruits.jpg?3b733fdece77cb9605f844dd046bff87) no-repeat;
}
.card-fruits h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  margin: 0;
}
.card-fruits p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  margin: 0;
  text-transform: capitalize;
}

.card-vegetables {
  background: url(/images/vegetables.jpg?bcc77100a2abbb1648f9e2142ae51d3c) no-repeat;
}
.card-vegetables h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: #7EB693;
  margin: 0;
}
.card-vegetables p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin: 0;
}

.about-us-block {
  background-color: #F9F8F8;
}

.container-about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.container-about-us img {
  display: block;
  width: 100%;
}

.about-us-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-us-info h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  margin: 0;
  margin-top: 130px;
}
.about-us-info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  margin: 0;
}
.about-us-info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525C60;
  margin: 0;
}
.about-us-info a {
  display: inline-flex;
  background-color: #274C5B;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: white;
  padding: 25px 30px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 150px;
}
.about-us-info a > span {
  display: block;
  width: 38px;
  height: 34px;
  background-color: #335B6B;
  background-image: url(/images/arrow-right.svg?119138b35c138a00e0a5b80f2815457c);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 20px;
}
.about-us-info dl {
  margin-top: 50px;
  padding-left: 120px;
}
.about-us-info dl dt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274C5B;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.about-us-info dl dt > span {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  position: absolute;
  background-color: white;
  left: -120px;
}
.about-us-info dl dd {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525C60;
}
.about-us-info dl .organic-ico {
  background: url(/images/organic.svg?4669aba5253480ec02dd4a7e7b3fea78) no-repeat center;
  background-color: white;
}
.about-us-info dl .quality-ico {
  background: url(/images/quality.svg?b84c86ca9c5b447810f0aa83d3b5bf89) no-repeat center;
  background-color: white;
}

.products-block {
  margin-top: 120px;
  margin-bottom: 100px;
}
.products-block > h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
}
.products-block > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #F9F8F8;
  border-radius: 30px;
  padding: 30px;
  min-height: 450px;
}
.card-product h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274C5B;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 10px;
  margin-top: auto;
}
.card-product h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  padding: 5px 20px;
  background: #274C5B;
  border-radius: 8px;
  order: -2;
  margin: 0;
}
.card-product img {
  order: -1;
  width: 100%;
  margin-top: 5px;
}
.card-product .price {
  display: flex;
  align-items: center;
  border-top: 2px solid #D4D4D4;
  align-self: stretch;
  justify-self: flex-end;
  padding-top: 10px;
  margin: 0;
}
.card-product .price .price-old {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.36px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #B8B8B8;
}
.card-product .price .price-new {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-left: 10px;
}
.card-product .price .rating {
  margin-left: auto;
}
.card-product .price .rating img {
  display: block;
  width: 100%;
  height: 20px;
}

.customer-feedback {
  background-image: url(/images/customer-left.png?558cdbd0ed86eae5fbfd6638c0fcae16), url(/images/customer-right.png?158bf9a2d42074e5a987e8f58c7ae194);
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-color: #FCFCFC;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 150px;
}

.customer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-info h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  margin: 0;
}
.customer-info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  margin: 0;
  margin-bottom: 60px;
}

.customer-avatar {
  display: block;
  width: 115px;
  height: 115px;
  border-radius: 100px;
}

.customer-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525C60;
}

.customer-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-bottom: 0;
}

.customer-rank {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525C60;
  margin-top: 0;
}

.customer-rating {
  width: 115px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.customer-rating img {
  width: 100%;
}

.customer-splitter {
  height: 2px;
  width: 970px;
  background: #E0E0E0;
  border-radius: 0px;
  margin: 100px 0;
}

.customer-awards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.customer-award-card {
  background: #F1F1F1;
  border: 6px solid #7EB693;
  border-radius: 200px;
  width: 250px;
  height: 250px;
}
.customer-award-card .customer-award-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: 5px solid #FFFFFF;
  border-radius: 200px;
}
.customer-award-card .customer-award-wrapper h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin: 0;
}
.customer-award-card .customer-award-wrapper p {
  order: -1;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.offer-block {
  background-color: #274C5B;
}
.offer-block .offer-block-container {
  padding-bottom: 140px;
  padding-top: 140px;
}

.offer-header {
  display: flex;
  justify-content: space-between;
}
.offer-header .offer-header-title h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  margin: 0;
}
.offer-header .offer-header-title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0;
}
.offer-header a {
  display: inline-flex;
  background-color: #EFD372;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  padding: 25px 30px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 40px;
}
.offer-header a > span {
  display: block;
  width: 38px;
  height: 34px;
  background-color: #335B6B;
  background-image: url(/images/arrow-right.svg?119138b35c138a00e0a5b80f2815457c);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 20px;
}

.eco-friendly-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.eco-friendly-block .eco-friendly-image {
  background-image: url(/images/plants.jpg?d383470fcccd021d2307f5ae7c3f9233);
  background-repeat: no-repeat;
  background-size: cover;
}
.eco-friendly-block .eco-friendly-info-block {
  display: flex;
  align-items: center;
}
.eco-friendly-block .eco-friendly-info-block .eco-friendly-info {
  position: relative;
  left: -60px;
  background-color: white;
  padding: 40px 60px;
  margin: 40px 0;
  border-radius: 30px 0px 0px 30px;
}
.eco-friendly-block .eco-friendly-info-block .eco-friendly-info h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  margin: 0;
}
.eco-friendly-block .eco-friendly-info-block .eco-friendly-info h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  margin: 0;
  margin-bottom: 15px;
}
.eco-friendly-block .eco-friendly-info-block .eco-friendly-info h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  margin: 0;
  margin-top: 15px;
}
.eco-friendly-block .eco-friendly-info-block .eco-friendly-info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525C60;
  margin: 0;
}

.food-type-block {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  background-color: #EFF6F1;
  padding-top: 140px;
  padding-bottom: 140px;
}
.food-type-block .food-type-card {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #335B6B;
  min-height: 560px;
}
.food-type-block .food-type-card a {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274C5B;
  padding: 30px 80px;
  text-decoration: none;
  background-color: white;
  text-transform: capitalize;
  border-radius: 20px;
}
.food-type-block .card-juice {
  background: url(/images/juice.jpg?622bb0d78d0ef3a7ee64751874318559) no-repeat;
}
.food-type-block .card-food {
  background: url(/images/food.jpg?1fdabeb50ca7d5d90c2d1b1ce4022b92) no-repeat;
}
.food-type-block .card-cookies {
  background: url(/images/cookies.jpg?1e270ed34376389730d5f46ace56280d) no-repeat;
}

.news-block {
  margin-top: 130px;
  margin-bottom: 50px;
}

.news-block-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.news-block-header .news-block-header-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.news-block-header .news-block-header-text h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  margin: 0;
}
.news-block-header .news-block-header-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
  margin: 0;
}
.news-block-header a {
  display: inline-flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  text-decoration: none;
  color: #274C5B;
  padding: 25px;
  background: #FFFFFF;
  border: 1px solid #274C5B;
  border-radius: 16px;
}
.news-block-header a > span {
  display: block;
  width: 38px;
  height: 34px;
  background-color: #335B6B;
  background-image: url(/images/arrow-right.svg?119138b35c138a00e0a5b80f2815457c);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 20px;
}

.news-block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 130px;
}

.news-block-card {
  height: 515px;
  border-radius: 30px;
}

.news-bg-greens {
  background: url(/images/greens.jpg?44c95c9455d108a01289ee9902d6fc19) no-repeat;
}

.news-bg-tomato {
  background: url(/images/tomatoes.jpg?45776c142d6bac1df2daffe4073d2960) no-repeat;
}

.news-card-inner {
  position: relative;
  top: 200px;
  background: #FFFFFF;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  padding: 50px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.news-card-inner .news-author {
  order: -1;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin: 0;
  display: flex;
  align-items: center;
}
.news-card-inner .news-author > span {
  display: block;
  background-image: url(/images/avatar.svg?8478a80f0b164cc41d1d681ecd1fcea2);
  background-position: left center;
  background-repeat: no-repeat;
  width: 18px;
  height: 20px;
  padding-right: 10px;
}
.news-card-inner h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274C5B;
}
.news-card-inner p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525C60;
}
.news-card-inner a {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.36px;
  color: #274C5B;
  text-decoration: none;
}
.news-card-inner a > span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #335B6B;
  background-image: url(/images/arrow-right.svg?119138b35c138a00e0a5b80f2815457c);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 50%;
  margin-left: 20px;
}
